<!DOCTYPE html>
<html lang="en">
    <form id="putroute" action="/putroute" method="POST">
        <form id="form">
        <h1>Please intsert an entry to modify and the modified value:</h1>
        <label for="modifygrade">Entry to modify:</label><br>
        <input type="text" id="modifygrade" name="modifygrade">
        <h1> </h1>
        <label for="newgrade">Entry modified value:</label><br>
        <input type="text" id="newgrade" name="newgrade">
        <h1> </h1>
        <div><button type="submit">Submit</button></div>
    </form>
</html>