<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Submit</h1>
    <hr>
    <div class="name">
    <form method="post">
        <p>
            <b><label for="name">Name</label></b>
        </p>
        <p>
            <input type="text" id="name" name="name"
                placeholder="Name"></input>
        </p>
        <p>
            <b><label for="email">Email</label></b>
        </p>
        <p>
            <input type="text" id="email" name="email"
                placeholder="Email"></input>
        </p>
        <p>
            <b><label for="grade">Grade</label></b>
        </p>
        <p>
            <input type="text" id="grade" name="grade"
                placeholder="Grade"></input>
        </p>
        </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    </div>
</body>
</html>